@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

html {
scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9rem;
  overflow-x: hidden;
}

@keyframes slide-in-left{
  from{
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes slide-in-right{
  from{
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fade-up{
  from{
    opacity: 0;
    transform: scale(0)
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.top{
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  #2c3337;
  background-size: cover;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2;
  animation: fade 0.5s;
}


.description {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 40rem;
}

.button {
  position: absolute;
  bottom: 5rem;
  font-size: 1.5rem;
  font-weight: inherit;
  padding: 0.5rem 0.7rem;
  color: inherit;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100px;
  cursor: pointer;
  transition:  0.3s;
  outline: none;
}

.button:hover{
  background: white;
  color: black;
}

.nav {
  position: sticky;
  top:0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #2c3337;
  border-bottom: 3px solid #e31b6d;
  z-index: 8;
}

.nav-item {
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.nav-item:hover {
  color: #e31b6d;
}

.nav-item-active {
  color: #000;
}

.about {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.header {
  color: #021d48;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
}

.header-bar{
  justify-content: center;
  background: #e31b6d;
  height: 4px;
  margin-bottom: 10px;
  width: 70px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.about-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 7px #ccc;
  opacity: 0;
}

.about-2{
  opacity: 0;
}

.about-animation{
  animation: fade 1s normal forwards;
}

.about-1-animation{
  animation-delay: 0.4s;
  animation: slide-in-left 0.6s normal forwards;
}

.about-2-animation{
  animation-delay: 0.4s;
  animation: slide-in-right 0.6s normal forwards;
}

.picture {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 1000px;
  overflow: hidden;
}

.picture>img{
  position: absolute;
  transform: translate(-2rem,-1rem);
  width: 20rem;
}

.content{
  line-height: 1.4;
  text-align: center;
  padding: 0 1rem;
}

.resume-btn{
  margin-top: 1rem;;
  font-weight: bold;
  border: 1px solid #173f5f;
  background: #173f5f;
  color: white;
  border-radius: 50px;
  min-width: 50%;
  padding: 0.6rem;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}
.resume-btn:hover{
  color: #173f5f;
  background:transparent;
}


.progress {
  background: #dbdbdb;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 15px;
  width: 250px;
  margin: 1.5rem;
}

.name{
  background-color: #173f5f;
  border-radius: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 15px;
  color: white;
  line-height: 1.7;
  padding: 0 0.5rem;
  width: 2rem;
  text-align: center;
  font-size: 0.6rem
}

.progress-value {
  border-radius: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #04c2c9;
  height: 15px;
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
  color: transparent;
  font-size: 0.6rem
}

.progress-value-90{
  animation: load-90 1.5s normal forwards;
  animation-delay: 0.3s;
}

.progress-value-80{
  animation: load-80 1.5s normal forwards;
  animation-delay: 0.3s;
}

.progress-value-70{
  animation: load-70 1.5s normal forwards;
  animation-delay: 0.3s;
}

.progress-value-60{
  animation: load-60 1.5s normal forwards;
  animation-delay: 0.3s;
}

@keyframes load-90 {
  0% {
    width: 0;
    color: transparent;
  }
  100% {
    width: 75%;
    color: white;
  }
}

@keyframes load-80 {
  0% {
    width: 0;
    color: transparent;
  }
  100% {
    width: 65%;
    color: white;
  }
}

@keyframes load-70 {
  0% {
    width: 0; 
    color: transparent;
  }
  100% {
    width: 55%;
    color: white;
  }
}

@keyframes load-60 {
  0% {
    width: 0; 
    color: transparent;

  }
  100% {
    width: 45%;
    color: white;
  }
}

.project{
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.project-animation{
  animation: fade-up 0.7s normal forwards;  
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.flex-item{
  border: 1px solid #888;
  margin: 1rem;
  opacity: 0;
  overflow: hidden;
  background-color: #2c3337;
}

.vertical-bar{
  position: absolute;
  right: 4rem;
  width: 1rem;
  height: 100%;
  background-color: #e31b6d;
  z-index: 0;
  opacity: 0;
  transition: 0.3s;
}

.vertical-bar:nth-child(2){
  right: 2rem;
}

.flex-item>a>img{
  width: 18rem;
  height: 100%;
  transition: 0.5s;
  z-index: 8;
}

.flex-item:hover>a>img{
  opacity: 0;
  transform: translateY(200px);
}

.flex-item>a>.caption{
  position: absolute;
  width: 100%;
  z-index: 0;
  color: white;
  text-decoration: none;
  text-align: center;
  opacity: 0;
  font-size: 1.5rem;
  margin-top: 10%;
  transition: 0.3s;
}

.small-text{
  font-size: 0.8rem;
  margin: 0.5rem;
}

.flex-item:hover>.vertical-bar,
.flex-item:hover>a>.caption{
  opacity: 1;
}

.social-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #2c3337; 
  padding-top: 3rem;
  margin-top: 3rem;
  opacity: 0;
}

.social-animation{
  animation: fade 0.6s forwards;
  animation-delay: 0.4s;
}

.social-caption{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-container{
  display: flex;
  margin-bottom: 2rem;
}

.btn-square{
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #fff;
  transform: rotate(45deg);
  padding: 0.5rem 0.7rem; 
  transition: 0.3s;
  margin: 1rem;
  text-decoration: none;
  transition: 0.7s;
}

.btn-square>i{
  transform: rotate(-45deg);
}

.btn-square:hover{
  transform: rotate(-45deg);
  border-radius: 100px;
  background: #fff;
  color: #2c3337;
}
.btn-square:hover>i{
  transform: rotate(45deg);
}


.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 0 5rem 0;
  opacity: 0;
}

@keyframes fade-down{
  from{
    opacity: 0;
    transform: translateY(-200px);
  }
  to{
    opacity: 1;
  }
}

.contact-animation{
  animation: fade-down 0.4s normal forwards;
  animation-delay: 0.6s;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

input{
  border-radius: 10px;
  border: 1px solid black;
  min-width: 90%;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
}

textarea{
  display: block;
  width: 90%;
  border-radius: 10px;
  border: 1px solid black;
  min-height: 10rem;
  margin: 1rem;
  padding: 01rem;
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
}



@media (min-width: 1024px){
  .intro{
    background: url('assets/wallpaper.jpg');
    background-size: cover;
    background-position: 18rem;
  }

  .head-description{
    position: absolute;
    left: 4rem;
  }

  .data{
    flex-direction: row;
    align-items: center;
  }
  
  .about-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 7px #ccc;
    max-width: 27%;
    margin-right: 5rem;
    font-size: 0.8rem;
  }
  
  .progress {
    height: 25px;
    width: 600px;
  }
  
  .name{
    height: 25px;
    line-height: 2;
    font-size: 0.8rem;
    width: 5rem;
  }
  
  .progress-value {
    height: 25px;
    text-align: center;
    line-height: 2;
    font-size: 0.8rem
  }
  
  form{
    width: 30%;
  }
}

@media (min-width: 550px){
  .flex-container{
    flex-direction: row;
    width: 80%;
  }

  .flex-item>a>img{
    width: 23rem;
  }
}